.head
.side
  = render 'shared/side_bar'
.html
.main
  .main__header
    .main__header__left-box
      .main__header__left-box--current-group
        sample
      .main__header__left-box--menber-list
        Member :  seo neko
    .main__header__edit-btn
      Edit
  .main__messages
    .main__messages__message
      .main__messages__message__upper-info
        .main__messages__message__upper-info--talker
          seo
        .main__messages__message__upper-info--data
          2016/09/21 06:16:55
      .main__messages__message__text
        Hello world!
  .main__form
    .main__form__new
      .main__form__new__input-box
        .main__form__new__input-box--text
          type a message
        .main__form__new__input-box--image
          %i.fa.fa-image
      .main__form__new__submit-btn
        Send
