.head
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
.side
  .side__header
    .side__header__box
      .side__header__box__user-name
        seo
      .side__header__box__menu
        .side__header__box__menu--new-group
        %i.far.fa-edit
        .side__header__box__menu--edit-user
        %i.fas.fa-cog
  .side__groups
    .side__groups__group
      .side__groups__group--group-name
        sample
      .side__groups__group--latest-message
        Good bye world!
.html
.main
  .main__header
    .main__header__left-box
      .main__header__left-box--current-group
        sample
      .main__header__left-box--menber-list
        Member :  seo neko
    .main__header__edit-btn
      Edit
  .main__messages
    .main__messages__message
      .main__messages__message__upper-info
        .main__messages__message__upper-info--talker
          seo
        .main__messages__message__upper-info--data
          2016/09/21 06:16:55
      .main__messages__message__text
        Hello world!
  .main__form
    .main__form__new
      .main__form__new__input-box
        .main__form__new__input-box--text
          type a message
        .main__form__new__input-box--image
          %i.far.fa-image
      .main__form__new__submit-btn
        Send
