!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield

/解決したい事　chat-spaceチャット画面実装 コードレビュー依頼し
/fontawesomeのリンクをheadタグに貼って表示させる方法ではなく
/gemにインストールして表示させたい。

/対策  検索ワード　fontawesome gem インストール haml
/https://qiita.com/fumikao/items/59ab20af33047d06e6e3

/ 結果　
/gemファイルの'font-awesome-rails'だと最新のバージョンに対応できていないのかもしれないと思い
/'font-awesome-sass'に書き換えた。application.scssに@import 'font-awesome-sprockets';を書き加えたが、
/全てのアイコンが□で表示されてしまっている。

/アクセス番号　010653832990